@import './common';
//@import './example';

@import './base/vars';
@import './base/defaults';
@import './utils/utils';
@import './utils/mixins';
@import './utils/placeholders';

@import './components/pre-title';
@import './components/title-h1';
@import './components/title-h2';
@import './components/button';
@import './components/gallery-review-wrap';
@import './layouts/header';

// header
// hero
// products
// about
// advantages
// gallery
// customer Reviews
// contacts
// footer

@import './layouts/about-modal';
@import './layouts/locations-modal';
