<!-- modal buy now -->
<div class="buy-now__backdrop buy__is-hidden" buy-modal>
    <div class="buy-now__modal">
        <svg class="buy-now__modal-close" buy-modal-close >
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
        <h2>Buy now</h2>
        <ul>
            <li>ice cream</li>
            <li>ice coffee</li>
            <li>milkshake</li>
        </ul>
        <form class="buy-now__modal-form">
            <label class="buy-now__form-label">
                <input type="text" class="buy-now__form-input" name="name" placeholder="Name">
            </label>
            <label class="buy-now__form-label">
                <input type="tel" class="buy-now__form-input" name="phone_number" placeholder="Phone">
            </label>
            <label class="buy-now__form-label">
                <textarea class="buy-now__form-textarea" name="comment" rows="5" placeholder="Comment"></textarea>
            </label>
            <button type="submit" class="buy-now__modal-form-btn">Submit</button>
        </form>
    </div>
</div>



<script src="./buy-now-modal.js"></script>