<section class="contacts container">
  <h2 class="contacts-title visually-hidden">contacts</h2>
  <ul class="contacts-list">
    <li class="contacts-item">
      <article>
        <p class="institution">CAFE</p>
        <p class="city">Chicago</p>
        <address>
          <a
            class="location"
            href="https://goo.gl/maps/SBk2NgXz2SCZKm4a8"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >10340 Ridgeland Ave, <br />
            Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="open-to">
          <p class="work-schedule-one">
            Monday - Friday
            <span class="working-time">06:00 AM - 10:00 PM</span>
          </p>
          <p class="work-schedule-two">
            Saturday - Sunday
            <span class="working-time">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <ul class="communication">
          <li>
            <a class="contacts-tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              class="contacts-mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </article>
    </li>
    <li class="contacts-item">
      <article>
        <p class="institution">FOODTRUCK</p>
        <p class="city">Los Angeles</p>
        <address>
          <a
            class="location"
            href="https://goo.gl/maps/GXkhaJU6XyuF8fCY9"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="open-to">
          <p class="work-schedule-one">
            Monday - Friday
            <span class="working-time">06:00 AM - 10:00 PM</span>
          </p>
          <p class="work-schedule-two">
            Saturday - Sunday
            <span class="working-time">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <ul class="communication">
          <li>
            <a class="contacts-tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              class="contacts-mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </article>
    </li>
    <li class="contacts-item">
      <article>
        <p class="institution">CAFE</p>
        <p class="city">New York</p>
        <address>
          <a
            class="location"
            href="https://goo.gl/maps/t844kxzWuXT7j71i7"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="open-to">
          <p class="work-schedule-one">
            Monday - Friday
            <span class="working-time">06:00 AM - 10:00 PM</span>
          </p>
          <p class="work-schedule-two">
            Saturday - Sunday
            <span class="working-time">08:00 AM - 16:00 PM</span>
          </p>
        </div>
        <ul class="communication">
          <li>
            <a class="contacts-tel" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a
              class="contacts-mail"
              href="mailto:noreply@envato.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </article>
    </li>
  </ul>
  <div class="wrapper-btn">
    <button class="locations-btn" type="button" locations-modal-open>
      Our Locations
      <svg class="icon-btn" width="12" height="12">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
      </svg>
    </button>
    
    <button class="franchise-btn" type="button" franchise-modal-open>
      Franchise
      <svg class="icon-btn" width="12" height="12">
        <use href="./images/sprite.svg#icon-arrow_right"></use>
      </svg>
    </button>
    
    <!-- modal Franchise -->

    <div class="backdrop is-hidden" franchise-modal>
      <div class="modal">
        <button  class="modal-close" franchise-modal-close>
          <svg class="close-icon">
            <use href="./images/sprite.svg#icon-close-line"></use>
          </svg>
        </button>
    
        <h2 class="modal-title">Thank you for your interest in owning an Ice Cream shop</h2>
        <p class="modal-desc">Due to the overwhelming volume of franchise requests we are not accepting new franchisee
          applications at this time. Once
          the application process resumes, we will contact you for further information. Please fill out the contact
          information
          below and we will reach out for additional information. We appreciate your patience.</p>
    
        <form class="modal-form">
          <label class="form-label">
            <input type="text" class="form-input" name="name" placeholder="Name">
          </label>
          <label class="form-label">
            <input type="tel" class="form-input" name="phone_number" placeholder="Phone">
          </label>
          <label class="form-label">
            <input type="email" class="form-input" name="email" placeholder="Email">
          </label>
          <label class="form-label">
            <textarea class="form-textarea" name="comment" rows="5" placeholder="Comment"></textarea>
          </label>
          <button type="submit" class="modal-form-btn" >Submit</button>
        </form>
      </div>
    </div>


  </div>
</section>
