<!-- modal Franchise -->

<div class="backdrop is-hidden" franchise-modal>
    <div class="modal">
        <button class="modal-close" franchise-modal-close>
            <svg class="close-icon">
                <use href="./images/sprite.svg#icon-close-line"></use>
            </svg>
        </button>

        <h2 class="modal-title">Thank you for your interest in owning an Ice Cream shop</h2>
        <p class="modal-desc">Due to the overwhelming volume of franchise requests we are not accepting new franchisee
            applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact
            information
            below and we will reach out for additional information. We appreciate your patience.</p>

        <form class="modal-form">
            <label class="form-label">
                <input type="text" class="form-input" name="name" placeholder="Name">
            </label>
            <label class="form-label">
                <input type="tel" class="form-input" name="phone_number" placeholder="Phone">
            </label>
            <label class="form-label">
                <input type="email" class="form-input" name="email" placeholder="Email">
            </label>
            <label class="form-label">
                <textarea class="form-textarea" name="comment" rows="5" placeholder="Comment"></textarea>
            </label>
            <button type="submit" class="modal-form-btn">Submit</button>
        </form>
    </div>
</div>