<header class="header">
    <div class="container">
<nav class="header__navigation">
<a href="" class="header__logo">
    <picture>
        
    <img src="./images/mainlogo.png" alt="Logo of ice cream company">
    </picture>
</a>

    <ul class="header__list list">
    <li class="header__item"> 
        <a href="" class="header__link link">Home</a>
    </li>
    <li class="header__item"> 
        <a href="" class="header__link link">How it’s made?</a>
    </li>
    <li class="header__item"> 
        <a href="" class="header__link link">Our products</a>
    </li>
    <li class="header__item"> 
        <a href="" class="header__link link">Contact</a>
    </li>
</ul>
<button class="header__button button-arrow " type="button">Buy now</button>
</nav>
</div>
</header>
