<header class="header">
    <div class="header-container container">
<nav class="header__navigation">
<a href="" class="header__logo">
    <img class="header__pic" src="./images/mainlogo.png" alt="Logo of ice cream company">
</a>
    <ul class="header__list list">
    <li class="header__item"> 
        <a href="" class="header__link link">Home</a>
    </li>
    <li class="header__item"> 
        <a href="" class="header__link link">How it’s made?</a>
    </li>
    <li class="header__item"> 
        <a href="" class="header__link link">Our products</a>
    </li>
    <li class="header__item"> 
        <a href="" class="header__link link">Contact</a>
    </li>
</ul>
<div class="header__buttons">
<button class="menu-button" data-menu-btn aria-expanded="false" aria-controls="menu-container" type="button">
    <svg 
    width="32" 
    height="32"
    aria-lable="switcher of mobile menu">
        <use class="menu-btn__close" href="./images/sprite.svg#icon-close"></use>
        <use class="menu-btn__menu" href="./images/sprite.svg#icon-burger"></use>
    </svg>
</button>
<button class="header__button button-arrow " type="button">Buy now</button>
</div>
<div class="header__mob-menu" data-menu id="menu-container" >

    <a href="" class="header__logo">
    <img class="header__pic" src="./images/mainlogo.png" alt="Logo of ice cream company">
</a>
    <div class="header__mob-data">
    <ul class="header__mob-list list">
    <li class="header__mob-item"> 
        <a href="" class="header__mob-link link">Home</a>
    </li>
    <li class="header__mob-item"> 
        <a href="" class="header__mob-link link">How it’s made?</a>
    </li>
    <li class="header__mob-item"> 
        <a href="" class="header__mob-link link">Our products</a>
    </li>
    <li class="header__mob-item"> 
        <a href="" class="header__mob-link link">Contact</a>
    </li>
</ul>
<button class="header__mob-button button-arrow " type="button">Buy now</button>
</div>
</div>
</nav>
</div>
</header>
<script src="./menu.js"></script>