<section class="hero">
<div class="container">
  <h1 class=" hero__title title-h1 ">ice cream made with passion</h1>  
  <ul class="hero__list list">
    <li class="hero__item">
        <button class="hero__btn button--transparent" type="button">Products</button>
    </li>
    <li class="hero__item">
        <a href="" class="hero__link link">How it’s made?</a>
    </li>
  </ul>
  
  <img class="hero__picture" src="./images/bowl-desktop.png" alt="Bowl with ice cream">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
  <picture>
    <img src="./images/con-desktop.png" alt="Con with ice cream smiling">
</picture>
<img src="./images/dots-desktop.png" alt="Yellow dots">
  
  <ul hero__list-cafe>
    <li class="hero__item-cafe">
        <p>16</p>
        <p>cafes</p>
    </li>
    <li class="hero__item-cafe">
        <p>23</p>
        <p>food trucks</p>
    </li>
  </ul>
</div>
</section>