<div class="products-info backdrop is-hidden" data-products-info-modal>
  <div class="modal">
    <button
      type="button"
      class="modal__btn-close"
      data-products-info-modal-close
    >
      <svg class="modal-close-icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="modal__title">Chololate icecream</h1>
    <div class="products-info__picture">
      <picture>
        <source
          srcset="
            ./images/products/modal/modal-ice-creame.png   1x,
            ./images/products/modal/modal-ice-creame-2.png 2x
          "
        />
        <img src="./images/products/modal/modal-ice-creame.png" alt="" />
      </picture>
    </div>

    <ul class="value__list list">
      <li class="value__item">
        <h3 class="value__title">320</h3>
        <p class="value__text">kcal</p>
      </li>
      <li class="value__item">
        <h3 class="value__title">4g</h3>
        <p class="value__text">Protein...</p>
      </li>
      <li class="value__item">
        <h3 class="value__title">8,2</h3>
        <p class="value__text">Fats</p>
      </li>
      <li class="value__item">
        <h3 class="value__title">40,4g</h3>
        <p class="value__text">Carbs</p>
      </li>
    </ul>
    <h3 class="products-info__title">Ingredients</h3>
    <ul class="products-info__list list">
      <li class="products-info__item">
        <p class="products-info__text">Milk</p>
        <p class="products-info__text">100ml</p>
      </li>
      <li class="products-info__item">
        <p class="products-info__text">Belgian chocolate</p>
        <p class="products-info__text">20g</p>
      </li>
      <li class="products-info__item">
        <p class="products-info__text">Cream</p>
        <p class="products-info__text">150ml</p>
      </li>
      <li class="products-info__item">
        <p class="products-info__text">Cocoa powder</p>
        <p class="products-info__text">30g</p>
      </li>
      <li class="products-info__item">
        <p class="products-info__text">Sugar</p>
        <p class="products-info__text">40g</p>
      </li>
      <li class="products-info__item">
        <p class="products-info__text">Vanilla sugar</p>
        <p class="products-info__text">10g</p>
      </li>
    </ul>
    <form class="modal__form">
      <div class="modal__form-field">
        <input
          type="text"
          class="modal__input"
          name="name"
          placeholder="Name"
          required
          pattern="[a-zA-Z ]+" 
          title="Use only letters"
        />
      </div>
      <div class="modal__form-field">
        <input
          type="tel"
          class="modal__input"
          name="phone"
          placeholder="Phone"
          required
          minlength="10"
          pattern="\+\d{3} \d{2} \d{3} \d{2} \d{2}" 
          title="+xxx xx xxx xx xx">
      </div>
      <div class="modal__form-field">
        <textarea
          name="feedback"
          class="modal__textarea"
          placeholder="Comment"
        ></textarea>
      </div>
      <div class="modal__form-field">
        <button type="submit" class="modal__btn">Submit</button>
      </div>
    </form>
  </div>
</div>
