.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 20px 20px;
  background-color: $color-primary-background;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 40px 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 30px 16px 60px 16px;
  }
}
.homemade {
  max-width: 232px;
  font-family: 'Montserrat';
  @include font-s-w-lh-ls(18, 700, 22, null);
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}
.with-passion {
  max-width: 200px;
  font-family: 'Montserrat';
  @include font-s-w-lh-ls(34, 700, 41, null);
  font-style: normal;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 60px;
}
.icon-foot {
  background-color: #f8d24e;
  border-radius: 50%;
  fill: #84a178;
  &:hover,
  &:focus {
    fill: #fcfcfc;
  }
}
.soc-icon {
  display: inline-flex;
  margin-left: auto;
}
.icon-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
// @include font-s-w-lh-ls(12, 500, 14, 0.04);
