.hero__container{
    position: relative;
    padding-top: 45px;
    padding-bottom: 12px;

    background-color: $color-primary-background;
}

.hero__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}
.hero__item:not(:last-child){
margin-right: 12px;
}
.hero__link{
font-weight: 600;
font-size: 14px;
line-height: 1.21;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #F8D24E;
}
.hero__ice-cream, .hero__dots {
    position: absolute;
}

@media screen and (max-width: 479px){
.hero__ice-cream{
    top: 135%;
    right: 20%;
    z-index: 1;
    }
    .hero__dots{
        bottom: -160%;
        right: 0%;
    }
}

@media screen and (min-width: 480px){
.hero__ice-cream{
    top: 50%;
    right: 10%;
    z-index: 1;
}
.hero__dots{
    bottom: -80%;
    right: 0%;
}
}

@media screen and (max-width: 767px){
    .hero{
        height: 100vh;
    }
    .hero__title{
    font-weight: 400;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    max-width: 247px;
    margin-bottom: 32px;
    }
    .hero__title--size{
    font-size: 34px;
    line-height: 0.97;
    }
    .hero__picture, .hero__text, .hero__list-cafe, .hero__btn{
        display: none;
    }

}
@media screen and (min-width: 767px){

.hero__title{
 max-width: 247px;
font-weight: 400;
font-size: 26px;
line-height: 1.27;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-bottom: 24px;
}
.hero__derection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 12px;
}
.hero__text{ 
    max-width: 149px;
    margin-bottom: 12px;

   font-weight: 400;
   font-size: 12px;
   line-height: 1.4;

   color: #FCFCFC;
}
.hero__picture{
    margin-right: 32px;
    z-index: 1;

}
.hero__btn{
    display: inline-flex;
    border: none;
    background-color: transparent;
    fill:#ffffff;
}
.hero__info{
    margin-right: 53px;
}
.hero__item-number{
font-weight: 900;
font-size: 28px;
line-height: 1.21;
text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #131313;
}
.hero__item-text{
font-weight: 400;
font-size: 8px;
line-height: 1.25;
text-align: right;

color: #FCFCFC;
}
.hero__item-cafe:not(:last-child){
margin-bottom: 20px;
}
.hero__info{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.hero__list-cafe{
    padding-top: 53px;
}
.hero__ice-cream{
    top: 0px;
    right: 92px;
    z-index: 1;
}
.hero__dots{
    bottom: 0px;
}
}

@media screen and (min-width: 1200px){

.hero{
padding-bottom: 65px;
}

.hero__title{
max-width: 367px;
font-weight: 400;
font-size: 38px;
line-height: 48px;
letter-spacing: 0.04em;
text-transform: uppercase;
}
 .hero__item-number{

font-weight: 900;
font-size: 46px;
line-height: 1.22;
text-align: right;
letter-spacing: 0.04em; 
 }

.hero__info-text{
    margin-top: 116px;
}
 .hero__item-text{
font-weight: 400;
font-size: 14px;
line-height: 1.21;
 }

.hero__text{
max-width: 200px;
font-weight: 400;
font-size: 14px;
line-height: 1.4;
}
.hero__dots{
    bottom: -15%;
}
.hero__ice-cream {
z-index: 1;
top: -5%;
}
}
